.link-logo {
    text-decoration: none;

    .logo {
        font-family: $f-family-Allegretto;
        font-size: 40px;
        font-weight: 400;
        line-height: 100%;
        color: rgba(87, 4, 37, 1);
        letter-spacing: -1px;
    }
}
