.navigation {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    &__link {
        @include text-Body1();
        color: rgba(39, 40, 46, 1);
        text-decoration: none;
        border-bottom: 1px solid transparent;
        background: linear-gradient(45deg, $color-ff2b8d, $color-primary) no-repeat center bottom;
        background-size: 0% 1px;
        transition: 0.3s;
        @include touch-hover(&) {
            background-size: 100% 2px;
        }
    }
    @include media-max($screen-notebook) {
        &__menu {
            display: none;
        }
        &__list {
            position: absolute;
            top: 94px;
            right: -20px;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 2rem 3rem;
            z-index: 3;
            font-size: 1rem;
            color: #086ad2;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        }
    }
}
