.price {

  display: flex;
  background: #f7f7f7;

  &__caption {
    font: 84px "Allegretto Script One";
    line-height: 84px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 90px 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 10px;

  }

}