@font-face {
    font-family: 'Allegretto Script One';
    src: url('../assets/fonts/allegrettoscriptone.ttf') format('truetype');
}
@font-face {
    font-family: 'RewlineRegular';
    src: url('../assets/fonts/rawline/rawline-400.ttf') format('truetype');
}
@font-face {
    font-family: 'RewlineRegularBold';
    src: url('../assets/fonts/rawline/rawline-500.ttf') format('truetype');
}
@font-face {
    font-family: 'RewlineSimeBold';
    src: url('../assets/fonts/rawline/rawline-600.ttf') format('truetype');
}
@font-face {
    font-family: 'RewlineBold';
    src: url('../assets/fonts/rawline/rawline-700.ttf') format('truetype');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Regular', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

