
@mixin font-ALLSCRONE {
    font-family: "Allegretto Script One", sans-serif;
}
@mixin font-RR {
    font-family: "RewlineRegular", sans-serif;
}
@mixin font-RB {
    font-family: "RewlineBold", sans-serif;
}
@mixin font-RRB {
    font-family: "RewlineRegularBold", sans-serif;
}
@mixin font-RSM {
    font-family: "RewlineSimeBold", sans-serif;
}
@mixin text-Display1 {
    @include font-ALLSCRONE();
    font-weight: 600;
    font-size: 96px;
    line-height: 112px;
}
@mixin text-Display2 {
    @include font-ALLSCRONE();
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

@mixin text-Headline1 {
    @include font-ALLSCRONESegoeUI();
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
}
@mixin text-Headline2 {
    @include font-ALLSCRONE();
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}
@mixin text-Headline3 {

    @include font-RB();
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
}
@mixin text-Headline4 {

    @include font-RSM();
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}
@mixin text-Headline5 {
    @include font-RSM();
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}
@mixin text-Headline6 {
    @include font-RRB();
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.15px;
}

@mixin text-Subtitle1 {
    @include font-RR();
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}
@mixin text-Subtitle2 {
    @include font-SegoeUI();
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1px;
}
@mixin text-Subtitle3 {
    @include font-RR();
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

@mixin text-Body1 {
    @include font-RR();
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
@mixin text-Body2 {
    @include font-RR();
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
@mixin text-Body3 {
    @include font-RR();
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.2px;
}

@mixin text-Button {
    --fs: 16;
    --lh: 24;
    @include font-SegoeUI();
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
@mixin text-ButtonLink {
    --fs: 18;
    --lh: 28;
    @include font-SegoeUI();
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.1px;
    text-decoration: none;
}
@mixin text-ButtonSmall {
    --fs: 14;
    --lh: 20;
    @include font-SegoeUI();
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

@mixin text-Caption {
    --fs: 12;
    --lh: 16;
    @include font-SegoeUI();
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

@mixin text-Overline {
    --fs: 10;
    --lh: 16;
    @include font-SegoeUI();
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.5px;
}
@mixin style-Button {
    @include text-Button();
}

@mixin touch-hover($selector) {
    @at-root {
        @media (hover: hover) {
            #{$selector}:hover {
                @content;
            }
        }
        @media (hover: none) {
            #{$selector}:active {
                @content;
            }
        }
    }
}
