$gradient-primary: linear-gradient(83.96deg, #45c4f9 0%, #7d09ff 50.33%, #ff0be5 100%);
$color-purple: rgb(123, 104, 238);
$color-purple-blue: rgba(100, 84, 199);
$color-ff2b8d: #ff2b8d;

// font-familys
$f-family-Merriweather: 'Merriweather Regular', sans-serif;
$f-family-Allegretto: 'Allegretto Script One';

// font-size

$f-size-22: 22px;
$f-size-24: 24px;

// text-colors
$color-primary: #570425;
$color-neutra: #30282e;

// font-weights
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
