.button {
    position: fixed;
    cursor: pointer;
    border: none;
    background-color: transparent;
    &__wrapper {
        position: relative;
    }
    &__span {
        display: block;
        width: 250px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-decoration: none;
        background: #fff;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 3px solid #fff;
        transition: all 0.1s;
    }
    &__icon {
        width: 50px;
        height: 50px;
        border: 3px solid transparent;
        position: absolute;
        transform: rotate(45deg);
        right: 0;
        top: 0;
        z-index: -1;
        transition: all 0.1s;
        & svg {
            width: 30px;
            position: absolute;
            top: calc(50% - 15px);
            left: calc(50% - 15px);
            transform: rotate(-45deg);
            fill: #086ad2;
            transition: all 0.1s;
            pointer-events: none;
        }
    }
    @media (max-width: 768px) {
        &__span {
            width: 180px;
            height: 40px;
        }
        &__icon {
            width: 40px;
            height: 40px;
            right: 0;
            & svg {
                width: 20px;
                top: calc(50% - 10px);
                left: calc(50% - 10px);
            }
        }
    }
    @media (max-width: 576px) {
        &__span {
            width: 160px;
            height: 30px;
        }
        &__icon {
            width: 30px;
            height: 30px;
            right: -10px;
            & svg {
                // width: 15px;
                top: calc(50% - 10px);
                left: calc(50% - 10px);
            }
        }
    }

    .button__span:hover {
        width: 180px;
    }

    .button__span:hover + .button__icon {
        right: -18%;
    }
}

.button__span:hover {
    width: 200px;
    border: 3px solid #086ad2;
    background: #fff;
    color: #086ad2;
}

.button__span:hover + .button__icon {
    border: 3px solid #086ad2;
    right: -25%;
}
