.header {
  position: fixed;
  z-index: 3;
  padding: 0 120px;
  height: 83px;
  left: 0;
  right: 0;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &-middle {
    display: flex;
    gap: 80px;
  }


  &-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 1250px) {
    & {
      padding: 0 40px;
    }
  }
}


