.scroll-active {
    position: fixed;
    box-shadow: 0px -6px 5px 4px;
}

.header {
    left: 0;
    right: 0;
    background-color: rgba(235, 227, 230, 1);
    z-index: 3;
    padding: 26px 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.2rem;
    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & .title {
            @include text-Body2;
            color: rgba(96, 100, 115, 1);
            line-height: 138%;
        }
    }
}
