@font-face {
    font-family: "Allegretto Script One";
    src: url('../assets/fonts/allegrettoscriptone.ttf') format('truetype')
}

@font-face {
    font-family: "Merriweather Regular";
    src: url('../assets/fonts/MerriWeatherLight/Merriweather-Regular.ttf') format('truetype')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather Regular", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
