.home {
    position: relative;
    height: 800px;
    background-image: url("../assets/images/Layer-135316.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    &-bg{
        height: 800px;
        position: absolute;
        background: #45454561;
        z-index: 2;
        width: 100%;
    }
}
