.haircut {
    height: 100vh;
    background-image: url('../../../assets/images/bb.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 100%;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 30px;
    }
}
