.aboutUs {
  padding-top: 180px;
  background: #f2e9e5;

  &__title {
    text-align: center;
    text-shadow:
            1px 1px 1px #828080,
            -1px 1px 1px #828080;
    color: #ffc3cc;
    transition: all .5s;
    font-size: 84px;
    line-height: 31px;
    font-family: "Allegretto Script One", sans-serif;
  }

  &__nav {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
}