.aboutUs {
  display: flex;
  background-image: url("../../../assets/images/Layer-135316.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
  }

  &__title {
    text-align: center;
    color: #ffffff;
    transition: all .5s;
    font-size: 84px;
    line-height: 31px;
    font-family: "Allegretto Script One", sans-serif;

  }

  &__tabs {
    width: 100%;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }


  &__philosophy {
    display: flex;
    gap: 50px;
    font-size: 12px;
    line-height: 24px;
    color: #7b7b7b;

    &-caption {
      font: 2rem "Allegretto Script One";
      letter-spacing: -1px;
      color: #454545;
    }

    &-principleOne {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .aboutUs__philosophy-img {

        width: 288px;
        height: 328px;

        & > img {
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
        }
      }

      .aboutUs__philosophy-desc {
        max-width: 287px;
        width: 100%;
        font-size: 14px;
        text-align: justify;
        color: #fff;

      }
    }


    &-more {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    &-principleTwo {
      display: flex;
      gap: 15px;

      .aboutUs__philosophy-caption {
        max-width: 150px;
        width: 100%;
        text-align: right;
        color: #fff;
      }

      .aboutUs__philosophy-img {
        width: 232px;
        height: 278px;

        & > img {
          width: 100%;
          height: 100%;
        }
      }

      .aboutUs__philosophy-desc {
        max-width: 457px;
        width: 100%;
        font-size: 14px;
        text-align: justify;
        color: #fff;

      }
    }

    &-principleThree {
      display: flex;
      gap: 15px;

      .aboutUs__philosophy-caption {
        max-width: 150px;
        width: 100%;
        text-align: right;
        color: #fff;
      }

      .aboutUs__philosophy-img {
        width: 425px;
        height: 328px;

        & > img {
          width: 100%;
          height: 100%;
        }
      }

      .aboutUs__philosophy-desc {
        max-width: 257px;
        width: 100%;
        font-size: 14px;
        text-align: justify;
        color: #fff;

      }
    }


  }

  &__history {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    &-caption {
      font: 60px "Allegretto Script One";
      letter-spacing: -1px;
      color: #454545;
    }

    &-items {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &-middle {
      display: flex;
      gap: 25px;


      .aboutUs__history-desc {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 400px;
        width: 100%;

        .aboutUs__history-item {
          text-align: left;
        }
      }
    }

    &-bottom {
      display: flex;
      margin-top: 60px;

      & > .aboutUs__history-items {
        display: flex;
        flex-direction: row;
        gap: 50px;
        background: antiquewhite;
        padding: 60px;
        width: 100%;
        position: relative;

        .aboutUs__history-caption {
          max-width: 227px;
          width: 100%;
          text-transform: uppercase;
          font-family: Calibri, sans-serif;

          > h1 {
            font-size: 22px;
          }

          > h1 > span {
            font-weight: 400;
          }

        }

        .aboutUs__history-item {
          max-width: 350px;
          width: 100%;
        }
      }

      .aboutUs__history-img {
        width: 350px;
        height: 500px;
        position: absolute;
        right: 0;
        bottom: 0;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }
}