.learn-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 315px;
    height: 200px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: clamp(0.8rem, 1vw, 1rem);
    line-height: 100%;
    font-weight: 500;

    &__title {
        width: 100%;
        font-size: 15px;
        line-height: 130%;
        font-weight: 500;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #fff;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 15px;
    }

    &__prices {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
