.news__page {
  display: flex;
  padding: 90px 0;

  &-title {
    font: 84px "Allegretto Script One";
    line-height: 84px;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 800px;
  }
  &-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    width: 100%;
  }
}

