.news__page {
  display: flex;

  &-title {
    text-align: center;
    color: #f7c9cb;
    transition: all .5s;
    font-size: 84px;
    line-height: 31px;
    font-family: "Allegretto Script One", sans-serif;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 800px;
  }
  &-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    width: 100%;
  }
}

